.exo-logo {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* setting global variables */
:root {
    --font-size: 1rem;
    --box-shadow: 0px 0px 2px hsl(0, 0%, 60%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* using fonts for all browsers and devices */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 97%);
}

main {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin-top: 3rem;
    border: 1px solid hsl(0, 0%, 60%);
    box-shadow: var(--box-shadow);

}

/* background left image */
#image-section {
    background-image: url(images/vlog-tottiy-sUR84HJsTys-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    text-align: center;
}

/* using calc to make the logo twice as big as the generic font size */
#logo {
    font-size: calc(var(--font-size)*2);
    margin-top: 20%;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#logo>img {
    height: 4rem;
}

#img-ref,
a {
    position: relative;
    top: 65%;
    font-size: calc(var(--font-size)/2);
    color: inherit;
}

#form-section {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--font-size);
    background-color: hsl(195, 53%, 98%);
    box-sizing: border-box;
}

form {
    width: 100%;
}

.form-div {
    display: flex;
    flex-direction: row;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    padding: var(--font-size);
    margin: 0 -1rem 0 -1rem;
    box-shadow: var(--box-shadow);
    background-color: hsl(0, 0%, 100%);
}

.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: calc(var(--font-size)/2);
    margin-right: auto;
}

.form-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='password'],
.form-row input[type='email'],
.form-row input[type='tel'] {
    background-color: hsl(0, 0%, 99%);
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 4px;
    font-size: var(--font-size);
}

.form-row input:focus {
    border: 1px solid #76AEED !important;
    box-shadow: var(--box-shadow);
    outline: none;
}

.form-row input:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

input[type="submit"] {
    /* font-size: ; */
    font-weight: bold;

    color: #FFFFFF;
    background-color: #5995DA;

    border: none;
    border-radius: 3px;

    padding: 10px 40px;
    cursor: pointer;

    margin-bottom: var(--font-size)
}

input[type="submit"]:hover {
    background-color: #76AEED;
}

.section-div>p>a {
    font-size: var(--font-size);
    text-decoration: none;
    font-weight: bold;
    color: #5995DA;
}

.section-div {
    margin: 2rem 0 2rem 0;
}